<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PROJECTConnectionString" connectionString="Data Source=localhost;Initial Catalog=PROJECT;User ID=sa;Password=server@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
</configuration>