<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PROJECTConnectionString" connectionString="Data Source=localhost;Initial Catalog=PROJECT;User ID=sa;Password=server@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
</configuration>
<!--ProjectGuid: 6195AF3E-BA4B-4D43-8EA2-8D2FCEE1554D-->